snippet utd "user-TODO"
// `echo $USER`-TODO: ${1:desc} (`!v strftime("%F")`)
endsnippet

snippet todo "TODO override"
// TODO: ${1:desc} (`!v strftime("%F")` `echo $USER`)
endsnippet

snippet fun "function with docstring"
/*!
 * @brief ${4:brief}
 * `!p 
from UltiSnips.snippet_manager import UltiSnips_Manager
val = ''
try:
	maxlen = max([len(x.strip().split(' ')[1]) for x in t[3].split(',')])
	for i,(typ, name) in enumerate([a.strip().split(' ') for a in t[3].split(',')]):
		val += "\n * {:<17} {:<{varwidth}} {}".format("@param[in]", name, typ, varwidth=maxlen)
except:
	pass
snip.rv = val + "\n *"
`
 * @return ${5:return}
 */
${1:type} ${2:fname}(${3:args})
{
	$0
}
endsnippet
